<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine on

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]
    
    RewriteCond %{REQUEST_URI} !^public
    
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<Files 403.shtml>
order allow,deny
allow from all
</Files>
